body{
  color: #212124;
  background-color: #f3f5f6;
}

.fluid-centered {
  min-width: 800px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 130px;
    padding-right: 130px;
  width: 1060px;
}
.box {
  position: absolute;
  background-repeat: no-repeat;
    background-position: 50%;
    background-color: #fff;
    background-size: cover;
}